# Node dependencies
node_modules
npm-debug.log
yarn.lock

# PHP dependencies
vendor

# Laravel specific
.env
.env.*
*.log
storage/*.key
storage/app/public
storage/debugbar
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
storage/logs

# System files
.DS_Store
.idea
.vscode

# Git
.git
.gitignore

# Docker
docker-compose.yml
.dockerignore
Dockerfile

# Build artifacts
/public/hot
/public/storage
/public/mix-manifest.json
/public/js
/public/css
